---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Map from '../components/Map.vue';
import ListCard from '../components/ListCard.vue';
import { Image } from '@astrojs/image/components';
import 'mapbox-gl/dist/mapbox-gl.css';

const mapboxToken = import.meta.env.MAPBOX_TOKEN;

const pennsylvania = await Astro.glob('../pages/restaurants/pennsylvania/*.md');

const idaho = await Astro.glob('../pages/restaurants/idaho/*.md');
const honorableMentions = await Astro.glob(
  '../pages/restaurants/honorable-mentions/*.md'
);

const restaurants = [...pennsylvania, ...idaho, ...honorableMentions];

const pho = restaurants
  .filter((r) => r.frontmatter.tags.includes('pho'))
  .sort((a, b) => a.frontmatter.title.localeCompare(b.frontmatter.title))
  .sort((a, b) => b.frontmatter.rating - a.frontmatter.rating)
  .slice(0, 2);

const donuts = restaurants
  .filter((r) => r.frontmatter.tags.includes('donuts'))
  .sort((a, b) => a.frontmatter.title.localeCompare(b.frontmatter.title))
  .sort((a, b) => b.frontmatter.rating - a.frontmatter.rating)
  .slice(0, 2);

const brewery = restaurants
  .filter((r) => r.frontmatter.type.includes('brewery'))
  .sort((a, b) => a.frontmatter.title.localeCompare(b.frontmatter.title))
  .sort((a, b) => b.frontmatter.rating - a.frontmatter.rating)
  .slice(0, 2);
---

<Layout title="RIMdev Likes Food!">
  <Header header="RIMdev Likes Food!" />
  <main id="featured-page">
    <section class="featured" id="breakfast">
      <header class="container">
        <h2>Donuts for Breakfast</h2>
      </header>
      <div class="container">
        <figure>
          <Image
            src="https://images.unsplash.com/photo-1597419765826-5b03fa018c18?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1035&q=80"
            width="651"
            height="869"
            alt="Glazed donuts layed out in rows"
            format="webp"
          />
        </figure>
        <ul class="cards">
          {
            donuts.map((restaurant) => (
              <ListCard
                link={restaurant.url}
                title={restaurant.frontmatter.title}
                rating={restaurant.frontmatter.rating}
                type={restaurant.frontmatter.type}
                address={restaurant.frontmatter.address}
              />
            ))
          }
        </ul>
      </div>
    </section>
    <section class="featured" id="pho">
      <header class="container">
        <h2>Our Favorite Pho</h2>
      </header>
      <div class="container">
        <ul class="cards">
          {
            pho.map((restaurant) => (
              <ListCard
                link={restaurant.url}
                title={restaurant.frontmatter.title}
                rating={restaurant.frontmatter.rating}
                type={restaurant.frontmatter.type}
                address={restaurant.frontmatter.address}
              />
            ))
          }
        </ul>
        <figure>
          <Image
            src="https://images.unsplash.com/photo-1533787761082-492a5b83e614?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            width="1072"
            height="714"
            alt="Bowl of pho sitting on a table"
            format="webp"
          />
        </figure>
      </div>
    </section>
    <section class="featured" id="breweries">
      <header class="container">
        <h2>5 o'Clock Somewhere</h2>
      </header>
      <div class="container">
        <figure>
          <Image
            src="https://images.unsplash.com/photo-1584225065152-4a1454aa3d4e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1035&q=80"
            width="651"
            height="869"
            alt="Beer pouring into a glass from the tap"
            format="webp"
          />
        </figure>
        <ul class="cards">
          {
            brewery.map((restaurant) => (
              <ListCard
                link={restaurant.url}
                title={restaurant.frontmatter.title}
                rating={restaurant.frontmatter.rating}
                type={restaurant.frontmatter.type}
                address={restaurant.frontmatter.address}
              />
            ))
          }
        </ul>
      </div>
    </section>
    <section id="restaurant-map">
      <header class="container">
        <h2>Restaurant Map</h2>
      </header>
      <div class="container" style="--container-width: 80ch;">
        <Map mapboxToken={mapboxToken} locations={restaurants} client:visible />
      </div>
    </section>
    <section class="link-section">
      <div class="container">
        <header>
          <h2>Check out all our favorites</h2>
        </header>
        <a href="/restaurants/favorites" class="button">
          View all restaurants</a
        >
      </div>
    </section>
  </main>
</Layout>
